.pictures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, 0.4);
}
.picturelow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.picture1{
    width:300px;
    height:300px;
    padding: 70px;
}

.picture2{
    width:300px;
    height:300px;
    padding: 70px;
}

.picture3{
    width:300px;
    height:300px;
    padding: 70px;
}
.picture4{
    width:300px;
    height:300px;
    padding: 70px;
}

.image{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 3rem;
}

.calrow{
    display: flex;
    flex-direction: row;
}

.calcolumn{
    display: flex;
    flex-direction: column;
}

.bnt1{
    margin-top: 27vh;
}

.bnt2{
    margin-top: 14vh;
}

.bnt3{
    margin-top: 27vh;
}

.bnt4{
    margin-left: 14vw;
}

.bnt4{
    margin-left: 14vw;
}

.bnt5{
    margin-top: 27vh;
    margin-left: 14vw;
}

.bnt6{
    margin-left: 28vw;
}

.bnt7{
    margin-top: 14vh;
    margin-left: 28vw;
}

.bnt8{
    margin-top: 27vh;
    margin-left: 28vw;
}

.cell1{
    margin: 1.6vh 1.6vw;
    height: 30vh;
    width: 30vw;
    text-align: center;
}

.cell2 {
    margin: 1.6vh 1.6vw;
    height: 30vh;
    width: 30vw;
    visibility: hidden;
}


.cell {
    margin: 1.6vh 1.6vw;
    height: 30vh;
    width: 30vw;
    visibility: hidden;
}

.goToMatching{
    visibility:hidden;
}

/* .style{
    
}; */